body{
    margin: 0;
    padding: 0;
}

.head{
    background-image: url(../image/backtren.png);
    height: 150px;
}

    .head img{
        margin: 20px 500px 20px 100px;
        height: 100px;
    }

    .head p{
        float: right;
        margin: 65px 200px 20px 50px;
        font-size: 20px;
    }

.nav{
    background-image: url(../image/backgiua.png);
    font-family: sans-serif;
    display: flex;
}

    .nav span{
        margin: 10px 350px 10px 30px;
        box-shadow: 0;
    }

    .nav .lastC{
        margin-right: 0;
    }