body{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    background-image: url("../image/Artboard1.png");
}

.boxLogin{
    position: absolute;
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 5px 30px 5px;
}

h1, h2{
    margin-left: 10%;
    font-size: 50px;
}


h2{
    font-size: 20px;
}

.boxLogin input{
    margin-left: 10%;
    border: none;
    box-shadow: 10px;
    width: 80%;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;
}

.boxLogin input[type = "button"]{
    border: 0;
    background-color: rgb(42, 128, 240);
    display: block;
    margin-left: 450px;
    margin-top: 20px;
    width: auto;
    text-align: center;
    border: 1px solid black;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px ;
}

.boxLogin input[type = "button"]:hover{
    background-color:rgb(25, 57, 98);
}