<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class = "head">
            <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\login.html"><img src="../static/image/Asset1.png" alt="Logo"></a>
            <p>Xin chào <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\index.html">Nguyễn Huy Hiếu</a></p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">TRANG CHỦ</a></li>
                <li><a href="">KẾ HOẠCH GIẢNG DẠY</a></li>
                <li><a href="">DANH SÁCH LỚP HỌC</a></li>
                <li class="lastC"><a href="">PHẢN HỒI</a></li>
            </ul>
        </div>
        <div class="selection">
            <div class="">
                
            </div>
            <div></div>
        </div>
    </body>
</html>