<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/UI.css">
    </head>
    <body>
        <div class = "head">
            <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\login.html"><img src="../static/image/Asset1.png" alt="Logo"></a>
            <p>Xin chào <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\index.html">Nguyễn Huy Hiếu</a></p>
        </div>
        <div class="nav">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div></div>
    </body>
</html>