<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class = "head">
            <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\login.html"><img src="../static/image/Asset1.png" alt="Logo"></a>
            <p>Xin chào <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\index.html">Nguyễn Huy Hiếu</a></p>
        </div>
        <div class="nav">
            <span>TRANG CHỦ</span>
            <span>KẾ HOẠCH GIẢNG DẠY</span>
            <span>DÁNH SACH LỚP HỌC</span>
            <span class="lastC">PHẢN HỒI</span>
        </div>
        <div></div>
    </body>
</html>