<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class = "head">
            <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\login.html"><img src="../static/image/Asset1.png" alt="Logo"></a>
            <p>Xin chào <a href="E:\IdeaProjects\ProjectII\src\main\resources\templates\index.html">Nguyễn Huy Hiếu</a></p>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">TRANG CHỦ</a></li>
                <li><a href="">KẾ HOẠCH GIẢNG DẠY</a></li>
                <li><a href="">DANH SÁCH LỚP HỌC</a></li>
                <li class="lastC"><a href="">PHẢN HỒI</a></li>
            </ul>
        </div>
        <div class="selection">
            <div class="inf">
                <div class="new">
                    <p>Bạn có 5 thông báo mới</p>
                </div>
                <div class="collection">
                    <p>Danh sách lớp:</p>
                    <table>
                        <tr>
                            <th>STT</th>
                            <th>MÃ LỚP</th>
                            <th>TÊN HỌC PHẦN</th>
                            <th>SỐ LƯỢNG</th>
                            <th>THỜI GIAN</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>128456</td>
                            <td>Tự học</td>
                            <td>1</td>
                            <td>9h, Thứ 5, tuần 2 - 8</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>