<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../static/css/login.css">
    </head> 
    <body>
        <div class="boxLogin">
            <h1>LOGIN</h1>
            <div class="user">
                <h2>USERNAME</h2>
                <input type="text" name placeholder="fill your username">
            </div>
            <div>
                <h2>PASSWORD</h2>
                <input type="text" name placeholder="fill your password">
            </div>
            <div>
                <div>Forgot your password</div>
                <div class = "boxSign">
                    SIGN
                </div>
            </div>
        </div>
    </body>
</html>