<!DOCTYPE html>
<html>
    <head>
        <title>Trang chủ</title>
        <link rel="stylesheet" href="../static/css/trangchu.css">
    </head>
    <body>
        <div class="nav">
            <div class="inf">
                <p><a href="">THÔNG TIN CÁ NHÂN</a></p>
            </div>
            <div class="viewList">
                <p><a href="">DANH SÁCH LỚP</a></p>
            </div>
            <div>
                <p><a href="">TẠO LỚP HỌC</a></p>
            </div>
        </div>
    </body>
</html>